<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Лев</title>
    <link rel="stylesheet" href="../vendor/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header>
      <div class="container is-flex-grow-0 pt-5">
        <nav class="navigation level">
          <a class="navigation__link active level-first" href="../index.html"
            >Главная</a
          >
          <a class="navigation__link level-item" href="./bear.html">Медведь</a>
          <a class="navigation__link level-item" href="./lion.html">Лев</a>
          <a class="navigation__link level-item" href="./squirrel.html"
            >Белка</a
          >
        </nav>
      </div>

      <div class="container is-flex is-flex-grow-0">
        <div
          class="header-content is-flex is-flex-direction-column is-align-items-center"
        >
          <h1 class="header-content__title has-text-dark">Лев</h1>
          <table
            class="table is-bordered is-hoverable is-fullwidth mt-5 header-content__table"
          >
            <tbody>
              <tr>
                <td>
                  <div>
                    <img src="../assets/lion.jpg" />
                  </div>
                </td>
                <td class="table__textcell">
                  Вид хищных млекопитающих, один из пяти представителей рода
                  пантер, относящегося к подсемейству больших кошек в составе
                  семейства кошачьих. Наряду с тигром - самая крупная из ныне
                  живущих кошек, масса некоторых самцов может достигать 250 кг.
                  Трудно сказать достоверно, массивнее ли крупнейшие подвиды
                  льва, чем крупнейшие подвиды тигров. Связано это с тем, что
                  исторические очень крупные веса амурских тигров в большинстве
                  своём признаны недостаточно достоверными. Достаточными данными
                  о размерах и массе представителей крупнейших подвидов льва
                  наука не располагает.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </header>

    <footer>Made by <span>Ayyar Khallilov</span></footer>

    <script src="./scripts/index.js"></script>
  </body>
</html>
